# copied from: https://www.toptal.com/developers/gitignore/api/openfoam

# Created by https://www.toptal.com/developers/gitignore/api/openfoam
# Edit at https://www.toptal.com/developers/gitignore?templates=openfoam

### OpenFOAM ###
# Timestep directories
0.*
[1-9]*

# Fields that must get ignored
*/phi*
*/meshPhi*

# Decomposed domain
processor*

# logfiles
log.*
*log

# Executables
*.exe
*.out
*.app

# OpenFOAM solution folders (excluding 0)
*/[0-9]*
*!/0/

# README html versions from quarto
*README_files*
README.html

*.DS_Store
DS_Store